services:
  backend:
    image: hoppscotch/hoppscotch-backend:latest
    container_name: hoppscotch-backend
    restart: unless-stopped
    env_file: .env
    environment:
      DATABASE_URL: postgresql://${DATABASE_USER:-hoppscotch}:${DATABASE_PASSWORD}@${DATABASE_HOST:-postgres}:${DATABASE_PORT:-5432}/${DATABASE_NAME:-hoppscotch}?connect_timeout=300
    networks:
      - traefik-network
      - postgres-network
    labels:
      - traefik.enable=true
      - traefik.docker.network=traefik-network

      - traefik.http.routers.hoppscotch-backend.rule=Host(`${HOPPSCOTCH_SERVER_HOSTNAME:?required}`) && (PathPrefix(`/graphql`) || PathPrefix(`/v1`))
      - traefik.http.routers.hoppscotch-backend.entrypoints=websecure
      - traefik.http.routers.hoppscotch-backend.tls.certresolver=le-cloudflare
      - traefik.http.routers.hoppscotch-backend.service=hoppscotch-backend
      - traefik.http.services.hoppscotch-backend.loadbalancer.server.port=3170

  admin:
    image: hoppscotch/hoppscotch-admin:latest
    container_name: hoppscotch-admin
    restart: unless-stopped
    env_file: .env
    networks:
      - traefik-network
    labels:
      - traefik.enable=true
      - traefik.docker.network=traefik-network

      - traefik.http.routers.hoppscotch-admin.rule=Host(`${HOPPSCOTCH_SERVER_HOSTNAME:?required}`) && PathPrefix(`/admin`)
      - traefik.http.routers.hoppscotch-admin.entrypoints=websecure
      - traefik.http.routers.hoppscotch-admin.tls.certresolver=le-cloudflare
      - traefik.http.routers.hoppscotch-admin.service=hoppscotch-admin
      - traefik.http.services.hoppscotch-admin.loadbalancer.server.port=3100

  frontend:
    image: hoppscotch/hoppscotch-frontend:latest
    container_name: hoppscotch-frontend
    restart: unless-stopped
    env_file: .env
    networks:
      - traefik-network
    labels:
      - traefik.enable=true
      - traefik.docker.network=traefik-network

      - traefik.http.routers.hoppscotch-frontend.rule=Host(`${HOPPSCOTCH_SERVER_HOSTNAME:?required}`)
      - traefik.http.routers.hoppscotch-frontend.entrypoints=websecure
      - traefik.http.routers.hoppscotch-frontend.tls.certresolver=le-cloudflare
      - traefik.http.routers.hoppscotch-frontend.service=hoppscotch-frontend
      - traefik.http.services.hoppscotch-frontend.loadbalancer.server.port=3000

  migrate:
    image: hoppscotch/hoppscotch-backend:latest
    container_name: hoppscotch-migrate
    restart: "no"
    entrypoint: [ "npx", "prisma", "migrate", "deploy" ]
    env_file: .env
    environment:
      DATABASE_URL: postgresql://${DATABASE_USER:-hoppscotch}:${DATABASE_PASSWORD}@${DATABASE_HOST:-postgres}:${DATABASE_PORT:-5432}/${DATABASE_NAME:-hoppscotch}?connect_timeout=300
    networks:
      - postgres-network


networks:
  traefik-network:
    external: true
  postgres-network:
    external: true
